<div class="container">
    <h1 class="text-center">ブログの編集</h1>
    <div class="col-md-12 top-articles bg-white ">
        <div class="padding-bottom">
        <%=render 'form',article: @article %>
        </div>
    </div>
</div>