// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top-articles{
    margin-top: 5%;
}
.title{
    font-size: 20px;
}
.img-fluid{
    width: 370px;
    height: 250px;
    display: block;
    max-width: 100%;
    padding-top: 15px;
}
.bg-white{
    background-color: #fff;
    border: 3px double #bbbbbb;
}
.padding-bottom{
    padding-bottom: 15px;
}
a{
    color: #666666;
}
.article-img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    padding-top: 15px;
}
.create-top{
    margin-top:5%;
}
.title-form{
    padding-top: 15px;
}
.article-list-img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.index-list-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}